<% if user.image %>
  <%= image_tag user.image, class: "img-circle avatar-small" %>
<% else %>
  <div class="avatar-circle">
    <span class="initials">
      <%= initials_of user %>
    </span>
  </div>
<% end %>